.dropdown {
  @apply flex flex-col;
  @apply relative;

  &--show {
    & .dropdown-icon__up {
      @apply flex;
    }
    & .dropdown-icon__down {
      @apply hidden;
    }
    & > .dropdown__items {
      @apply block;
    }
  }
}

.dropdown__label {
  @apply flex justify-between items-center;
  @apply border border-gray-500 border-solid bg-white;
  @apply p-2;
}

.dropdown-icon__up {
  @apply hidden;
}

.dropdown__items {
  @apply border-l border-r border-b border-gray-500 border-solid bg-white;
  @apply hidden;
  @apply absolute;
  z-index: 10;
  top: 42px;
  right: 0;
  left: 0;
}

.dropdown__item {
  @apply p-2;

  &:hover {
    @apply bg-gray-300;
  }
}
